@font-face {
    font-family: "HelveticaNeue";
    
    src: 
    url("../fonts/Helvetica_Neue_Regular/HelveticaNeue.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
