body {
    background-color: #f3f3f3;
}

.navbar-custom {
    min-height: 100px;
   
    background-image: url("./images/back_nav.png");
    background-repeat: no-repeat;
    
    color: #fff;
    font-size: 14px;
    .dropdown-menu {
        background-color: #76c7c0;
    }
    .navbar-brand {
        padding: 28px 15px;
    }
    .navbar-nav {
        padding: 0px 0 0 0;
        margin-top: 20px;
        > li > a {
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 5px;
            background-color: transparent;
            font-family: 'Open Sans';
            font-weight: 600;
            font-style: normal;
            color: #fff;
            border-bottom: 2px solid transparent;
            &:hover,
            &:focus {
                background-color: #62a29e;
                border-bottom: 2px solid #528b86;
            }
        }
    }
}

.module--wrapper {
    padding-top: 80px;
}




